<div class="dashboard-header">
    <h1>{{selectModule.name}} Chapters</h1>
    <button class="btn btn-primary" routerLink="../../create-chapter/{{moduleId}}">Create New Chapter</button>
</div>
<div class="quiz-cards">
    <div class="quiz-card" (click)="selectChapter(chapter)" *ngFor="let chapter of chapters">
        <h2>{{ chapter.name }}</h2>
        <p>{{ chapter._id }}</p>
        <!-- <small>{{ quiz.date | date:'short' }}</small> -->
    </div>
</div>

<br>

<div class="dashboard-header">
    <h1>{{selectModule.name}} Quizzes</h1>
    <button class="btn btn-primary" (click)="createQuiz()" >Create New Quiz </button>
</div>

<app-view-quizzes [hierarchy]="'module'" [id]="moduleId"></app-view-quizzes>