<div class="dashboard-header">
    <h1>{{selectCourse.name}} Modules</h1>
    <button class="btn btn-primary" routerLink="../../create-module/{{courseId}}">Create New Module</button>
</div>
<div class="quiz-cards">
    <div class="quiz-card" (click)="selectModule(module)" *ngFor="let module of modules">
        <h2>{{ module.name }}</h2>
        <p>{{ module._id }}</p>
        <!-- <small>{{ quiz.date | date:'short' }}</small> -->
    </div>
</div>

<br>

<h1>{{selectCourse.name}} Quizzes</h1>
<br>
<app-view-quizzes [hierarchy]="'course'" [id]="courseId"></app-view-quizzes>