<div class="dashboard-header">
    <h1>{{selectChapter.name}} Topics</h1>
    <button class="btn btn-primary" routerLink="../../create-topic/{{chapterId}}">Create New Topic</button>
</div>
<div class="quiz-cards">
    <div class="quiz-card" (click)="selectTopic(topic)" *ngFor="let topic of topics">
        <h2>{{ topic.name }}</h2>
        <p>{{ topic._id }}</p>
        <!-- <small>{{ quiz.date | date:'short' }}</small> -->
    </div>
</div>

<br>

<div class="dashboard-header">
    <h1>{{selectChapter.name}} Quizzes</h1>
    <button class="btn btn-primary" (click)="openQuizComponent()" >Create New Quiz</button>
</div>

<app-view-quizzes [hierarchy]="'chapter'" [id]="chapterId"></app-view-quizzes>