<!-- 
TODO 

1. VIEW

    QUESION TEXT       QEUSTION TYPE
                       DIFFICULTY

    OOPTIONS

    ADVANCED
      DESCRIPTION

2. MULTIPLE CHOSE AND TRUE FLASE RADIO BUTTON
   AND OPTION DISPLAY STRUCTURE

    O xxxxxx   CROSS
    O xxxxxx   CROSS
    O xxxxxx   CROSS
    ADD OPTION

3. OPTION DRAG AND DROP

4. DELETE  AND DUPLICATE OPTIONS CHILD TO PARENT (at last ****)
 -->





<form [formGroup]="questionForm" (ngSubmit)="submit()">
  <div class="quetion-container">
    <div class="quetion-text">
      <textarea rows="5" formControlName="questionText" placeholder="Quetion"></textarea>
      <div *ngIf="questionForm.get('questionText')?.invalid && questionForm.get('questionText')?.touched">
        Question text is required.
      </div>
    </div>
    <div>
      <select formControlName="quetionType">
        <option *ngFor="let type of questionTypes" [value]="type.value">
          {{ type.display }}
        </option>
      </select>
      <div *ngIf="questionForm.get('quetionType')?.invalid && questionForm.get('quetionType')?.touched">
        Question type is required.
      </div>
    </div>
    <div>
      <select formControlName="dificulty">
        <option *ngFor="let difficulty of difficulties" [value]="difficulty">{{ difficulty }}</option>
      </select>
      <div *ngIf="questionForm.get('dificulty')?.invalid && questionForm.get('dificulty')?.touched">
        Difficulty is required.
      </div>
    </div>
  </div>
  

 

  <div formArrayName="options" *ngIf="questionForm.get('quetionType')?.value === 'multipleChoice' || questionForm.get('quetionType')?.value === 'multiSelect'"  >
    <div class="option" *ngFor="let option of options.controls; let i=index" [formGroupName]="i" [ngClass]= "options.controls[i]?.get('isCorrect')?.value  ? 'correct-answer' : '' ">
      <input *ngIf="questionForm.get('quetionType')?.value === 'multiSelect'" type="checkbox" formControlName="isCorrect" (change)="selectOnlyOneCorrect(i)" value="true" />
      <input *ngIf="questionForm.get('quetionType')?.value === 'multipleChoice'" type="radio" formControlName="isCorrect" (change)="selectOnlyOneCorrect(i)" value="true" />
      <input formControlName="optionText" class="option-input" placeholder="option {{i+1}}" />
      <button type="button" (click)="removeOption(i)">X</button>
    </div>
    <button type="button" (click)="addOption()">Add Option</button>
  </div>

  <div formArrayName="options" *ngIf="questionForm.get('quetionType')?.value === 'trueFalse'">
    <div *ngFor="let option of options.controls; let i=index" [formGroupName]="i">
      <label>{{ option.value.optionText }}:</label>
      <input type="checkbox" formControlName="isCorrect" (change)="selectOnlyOneCorrect(i)" /> Correct
    </div>
  </div>

  <div>
    <label>Explanation:</label>
    <textarea formControlName="explanation"></textarea>
    <div *ngIf="questionForm.get('explanation')?.invalid && questionForm.get('explanation')?.touched">
      Explanation is required.
    </div>
  </div>

 

  <button type="submit" [disabled]="questionForm.invalid">Submit</button>

</form>
